@import 'UpdatesFeed';
@import 'UpdatePost';
@import 'CommentFeed';

$font-stack: "Karla", Helvetica, Arial, sans-serif;
$border: 1px solid rgb(180, 180, 180);

.app {
  font-size: 17px;
  font-family: $font-stack;
}

.updates-main, .comments-main {
  margin-top: 40px;
  margin-left: 19%;
  margin-right: 19%;
}

